@font-face {
  font-family: Basis-Grotesque-Pro;
  src: url(./assets/fonts/BasisGrotesquePro-Regular.ttf);
}
body {
  margin: 0;
  font-family: Basis-Grotesque-Pro;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
}